# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/OpenGL_SDL_Setup/.vs/OpenGL_SDL_Setup
/OpenGL_SDL_Setup/x64/Debug
/Exercises/TriangleExercises/.vs/TriangleExercises
/Exercises/TriangleExercises/x64/Debug
/Exercises/Square/.vs/Square
/Exercises/Square/x64/Debug
/Exercises/TriangleExercises/TriangleExercises.sln
/Exercises/Square/Square.sln
/IndexBuffers/IndexBuffers/.vs/IndexBuffers
/IndexBuffers/IndexBuffers/x64/Debug
/IndexBuffers/IndexBuffers
/Shaders/Shaders/.vs/Shaders
/Shaders/Shaders/x64/Debug
/Exercises/ShaderExercises/ShaderExercises/.vs/ShaderExercises
/Exercises/ShaderExercises/ShaderExercises/x64/Debug
/Textures/Textures/.vs/Textures
/Textures/Textures/x64/Debug
/Exercises/ShaderExercises/ShaderExercises
/Textures_Lesson/Textures_Lesson/.vs/Textures_Lesson
/Textures_Lesson/Textures_Lesson/x64/Debug
*.sln
/Exercises/Texture_SSBO/Texture_SSBO/.vs/Texture_SSBO
/Exercises/Texture_SSBO/Texture_SSBO/x64/Debug
/ComputeShader_101/Compute Shader_101/.vs/Compute Shader_101
/ComputeShader_101/Compute Shader_101/x64/Debug
*.aps
*.rc
