# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/OpenGL_SDL_Setup/.vs/OpenGL_SDL_Setup
/OpenGL_SDL_Setup/x64/Debug
/Exercises/TriangleExercises/.vs/TriangleExercises
/Exercises/TriangleExercises/x64/Debug
/Exercises/Square/.vs/Square
/Exercises/Square/x64/Debug
